<%- include("partials/header"); %>
<div class="abtTxt" >     
    <h1 class="abtHeading">About</h1> 
    <blockquote class="abt">     
        <p><%= about%></p>     
        <br>     
        <p>
            Anyone can write on Medium. Whether you’ve never written before or are ready to create a full publication, 
            it’s easy to get started and we allow you to focus more on big ideas and less on driving clicks. 
            With the option to earn for your work, you can also be directly rewarded for the value you provide readers.
        </p> 
    </blockquote> <br><br> 
</div>
<%- include("partials/footer"); %>
