<%- include("partials/header"); %>

<div class="abtTxt">     
    <h1 class="abtHeading">Get in Touch!</h1>     
    <div class="contBox">         
        <div class="card">             
            <i class="fas fa-phone-alt fa-3x"></i>             
            <p class="contact">Call Us</p>              
            <p class="contact"> +91 7991994890</p>                        
        </div>           
        <div class="card">             
            <i class="fas fa-envelope fa-3x"></i>             
            <p class="contact">email Us</p>              
            <a class="contact" href="mailto:manas.bajpai16@gmail.com">manas.bajpai16@gamil.com</a>                        
        </div>           
        <div class="card">             
            <i class="fab fa-linkedin fa-3x"></i>             
            <p class="contact">Connect Here!</p>                           
            <a class="contact" href="https://www.linkedin.com/in/manas-bajpai-9921791bb">Manas Bajpai</a>                        
        </div>     
    </div>         
</div>


<%- include("partials/footer"); %>